<!--    BEGIN TEMPLATE    -->
<h2>Template</h2>
<hr>

<ul class="list-group">
    <li class="list-group-item"
        *ngFor="let option of templateMenu"
        [routerLink]="option.ruta"
        routerLinkActive="active">
        {{option.texto}}
    </li>
</ul>
<!--    END TEMPLATE    -->

<!--    BEGIN REACTIVE    -->
<h2 class="mt-5">Reactive</h2>
<hr>

<ul class="list-group">
    <li class="list-group-item"
        *ngFor="let option of reactiveMenu"
        [routerLink]="option.ruta"
        routerLinkActive="active">
        {{option.texto}}
    </li>
</ul>
<!--    END REACTIVE    -->

<!--    BEGIN VALIDACIONES    -->
<h2 class="mt-5">Validaciones</h2>
<hr>

<ul class="list-group">
    <li class="list-group-item"
        *ngFor="let option of authMenu"
        [routerLink]="option.ruta"
        routerLinkActive="active">
        {{ option.texto }}
    </li>
</ul>
<!--    END VALIDACIONES    -->